body, html {
background:orange;
}

#PreviousButton{
	position: absolute;
	width: 50%;
	height: 10%;
	left: 0%;
	font-size: 20;
}
#NextButton{
	position: absolute;;
	width: 50%;
	height: 10%;
	left: 50%;
	font-size: 20;
}
#GamePageOne{
	position: absolute;
	top: 12%;
}
#GamePageTwo{
	position: absolute;
	top: 12%;
}
#GamePageThree{
	position: absolute;
	top: 12%;
}
#GamePageFour{
	position: absolute;
	top: 12%;
}

#YourBuisness{
	width: 344px;
	height: 285px;
	border-radius: 8px; 
	border-style: solid;
  	border color: black;
}

/* Code for the sliders on Page Four. */
/* PRICE */
#priceCharacters{
font-size: 25px;
font-weight: bold;

}
#priceSlider{

}
/* PRODUCTION */
#productionCharacters{
font-size: 25px;
font-weight: bold;
}
#productionSlider{

}
/* MARKETING */
#marketCharacters{
font-size: 25px;
font-weight: bold;
}
#marketSlider{

}
/* RESEARCH AND DEVELOPEMENT */
#RAndDCharacters{
font-size: 25px;
font-weight: bold;
}
#RAndDSlider{
	
}