body, html {
background:orange;
}

#PreviousButton{
	position: absolute;
	width: 50%;
	height: 10%;
	left: 0%;
	font-size: 20;
}
#NextButton{
	position: absolute;;
	width: 50%;
	height: 10%;
	left: 50%;
	font-size: 20;
}
#GamePageOne{
	position: absolute;
	top: 12%;
}
#GamePageTwo{
	position: absolute;
	top: 12%;
}
#GamePageThree{
	position: absolute;
	top: 12%;
}
#GamePageFour{
	position: absolute;
	top: 12%;
}

#YourBuisness{
	position: absolute;
	top: 15%;
	left: 10%;
	width: 344px;
	height: 285px;
	border-radius: 8px; 
	border-style: solid;
  	border color: black;
}

/* Code for the sliders on Page Four. */
/* PRICE */
#priceCharacters{
position: absolute;
font-size: 25px;
font-weight: bold;
left: 10%;
}
#priceSlider{
position: absolute;
top: 175%;
left: 100;
width: 100%;
}
/* PRODUCTION */
#productionCharacters{
position: absolute;
font-size: 25px;
font-weight: bold;
left: 10%;
top: 200%;
}
#productionSlider{
position: absolute;
top: 200%;
left: 100;
width: 100%;
}
/* MARKETING */
#marketCharacters{
position: absolute;
font-size: 25px;
font-weight: bold;
left: 10%;
top: 200%;
}
#marketSlider{
position: absolute;
top: 1200%;
left: 100;
width: 100%;
}
/* RESEARCH AND DEVELOPEMENT */
#RAndDCharacters{
position: absolute;
font-size: 25px;
font-weight: bold;
left: 10%;
top: 2200%;
}
#RAndDSlider{
position: absolute;
top: 2600%;
left: 100;
width: 200%;
}